{% extends 'base.html' %}

{% block 'main' %}

<main id="main">
  <div class="container">
      <div class="row">
          <div class="col-md-6 my-5 mx-auto">
            <div class="row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Jammu & Kashmir</h5>
                    <p class="card-text">Jammu and Kashmir is a breathtakingly beautiful region located in the northernmost part of India. Known as the "Paradise on Earth," it is a popular tourist destination that boasts of stunning landscapes, rich culture, and unparalleled hospitality.</p>
                    <a href="product" class="btn btn-primary">More</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Goa</h5>
                    <p class="card-text">Goa, located on the western coast of India, is a popular tourist destination known for its beautiful beaches, vibrant nightlife, and rich cultural heritage. With a perfect blend of Portuguese and Indian influences, Goa offers a unique experience to its visitors. From water sports, beach parties, and seafood delicacies to historical landmarks, ancient temples, and flea markets, there is something for everyone in Goa. Come and experience the laid-back vibe of Goa and create memories that will last a lifetime..</p>
                    <a href="product" class="btn btn-primary">More</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Kedarnath</h5>
                    <p class="card-text">Kedarnath, located in the Indian state of Uttarakhand, is a charming town nestled amidst the breathtaking Himalayan mountains. It is known for its picturesque beauty, serene surroundings, and most importantly, the Kedarnath Temple - one of the most revered Hindu shrines dedicated to Lord Shiva. A visit to Kedarnath promises a spiritual journey coupled with an adventurous trek through the rugged terrain, making it a must-visit destination for all types of travelers.</p>
                    <a href="product" class="btn btn-primary">More</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Ooty</h5>
                    <p class="card-text">Nestled in the lap of the Western Ghats, Ooty is a picturesque hill station in Tamil Nadu, South India that beckons tourists with its serene lakes, rolling hills, verdant tea gardens, and pleasant climate all year round. Its misty weather, colonial-era bungalows, charming narrow-gauge railway, and lush botanical gardens make Ooty a perfect getaway for nature lovers, honeymooners, and adventure enthusiasts alike. Come and immerse yourself in the scenic beauty and tranquil atmosphere of this enchanting hill station.</p>
                    <a href="product" class="btn btn-primary">More</a>
                  </div>
                </div>
              </div>
            </div>
            <hr>


          </div>
      </div>
  </div>
</main>



{% endblock 'main' %}