{% extends 'base.html' %}

{% block 'main' %}

<main id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5 mx-auto">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table>
                            {{form.as_p}}
                            <tr>
                                <td>
                                    <button type="submit" class="btn btn-danger">Login</button>
                                </td>
                            </tr>
                    </table>
                </form>

            </div>
        </div>
    </div>
</main>


{% endblock 'main' %}